<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AuthController</servlet-name>
        <servlet-class>controllers.AuthController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllOrdersController</servlet-name>
        <servlet-class>controllers.ViewAllOrdersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyOtpController</servlet-name>
        <servlet-class>controllers.VerifyOtpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyEmailController</servlet-name>
        <servlet-class>controllers.VerifyEmailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginFacebookHandlerController</servlet-name>
        <servlet-class>controllers.LoginFacebookHandlerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleHandlerController</servlet-name>
        <servlet-class>controllers.LoginGoogleHandlerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>controllers.ResetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventController</servlet-name>
        <servlet-class>controllers.EventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllEventsController</servlet-name>
        <servlet-class>controllers.AllEventsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventDetailController</servlet-name>
        <servlet-class>controllers.EventDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>controllers.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controllers.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEventController</servlet-name>
        <servlet-class>controllers.SearchEventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterEventController</servlet-name>
        <servlet-class>controllers.FilterEventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>controllers.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>controllers.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllTicketsController</servlet-name>
        <servlet-class>controllers.ViewAllTicketsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketDetailController</servlet-name>
        <servlet-class>controllers.TicketDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCreatedEventsController</servlet-name>
        <servlet-class>controllers.ViewCreatedEventsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrganizerEventDetailController</servlet-name>
        <servlet-class>controllers.OrganizerEventDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderSearchController</servlet-name>
        <servlet-class>controllers.OrderSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrganizerOrdersController</servlet-name>
        <servlet-class>controllers.OrganizerOrdersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrganizerEventController</servlet-name>
        <servlet-class>controllers.OrganizerEventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderDetailOrganizer</servlet-name>
        <servlet-class>controllers.ViewOrderDetailOrganizer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllEventsAdminController</servlet-name>
        <servlet-class>controllers.ViewAllEventsAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewEventDetailAdminController</servlet-name>
        <servlet-class>controllers.ViewEventDetailAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveEventController</servlet-name>
        <servlet-class>controllers.ApproveEventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewApprovedEventsController</servlet-name>
        <servlet-class>controllers.ViewApprovedEventsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewEventController</servlet-name>
        <servlet-class>controllers.CreateNewEventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEventController</servlet-name>
        <servlet-class>controllers.UpdateEventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VnPayReturnController</servlet-name>
        <servlet-class>vnpay.VnPayReturnController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VnPayAjaxController</servlet-name>
        <servlet-class>vnpay.VnPayAjaxController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentController</servlet-name>
        <servlet-class>controllers.PaymentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSeatController</servlet-name>
        <servlet-class>controllers.ViewSeatController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoucherController</servlet-name>
        <servlet-class>controllers.VoucherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllVouchersController</servlet-name>
        <servlet-class>controllers.ViewAllVouchersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateVoucherStatusController</servlet-name>
        <servlet-class>controllers.UpdateVoucherStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateVoucherController</servlet-name>
        <servlet-class>controllers.CreateVoucherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewHistoryApprovedEventsController</servlet-name>
        <servlet-class>controllers.ViewHistoryApprovedEventsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOrderController</servlet-name>
        <servlet-class>controllers.SearchOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewApprovedDetailController</servlet-name>
        <servlet-class>controllers.ViewApprovedDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventOverviewController</servlet-name>
        <servlet-class>controllers.EventOverviewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPaymentController</servlet-name>
        <servlet-class>controllers.ViewPaymentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayQueryController</servlet-name>
        <servlet-class>vnpay.vnpayQueryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateTicketController</servlet-name>
        <servlet-class>controllers.ValidateTicketController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllCustomersController</servlet-name>
        <servlet-class>controllers.ViewAllCustomersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailAccountController</servlet-name>
        <servlet-class>controllers.ViewDetailAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeactivateAccountController</servlet-name>
        <servlet-class>controllers.DeactivateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountController</servlet-name>
        <servlet-class>controllers.UpdateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProcessingEventsAdminController</servlet-name>
        <servlet-class>controllers.ViewProcessingEventsAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginController</servlet-name>
        <servlet-class>controllers.AdminLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RevenueController</servlet-name>
        <servlet-class>controllers.RevenueController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RevenueDetailController</servlet-name>
        <servlet-class>controllers.RevenueDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventAjaxController</servlet-name>
        <servlet-class>controllers.EventAjaxController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthController</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllOrdersController</servlet-name>
        <url-pattern>/viewAllOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyOtpController</servlet-name>
        <url-pattern>/verifyOtp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyEmailController</servlet-name>
        <url-pattern>/verifyEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleHandlerController</servlet-name>
        <url-pattern>/loginGoogleHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginFacebookHandlerController</servlet-name>
        <url-pattern>/loginFacebookHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/resetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventController</servlet-name>
        <url-pattern>/event</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllEventsController</servlet-name>
        <url-pattern>/allEvents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventDetailController</servlet-name>
        <url-pattern>/eventDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEventController</servlet-name>
        <url-pattern>/searchEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterEventController</servlet-name>
        <url-pattern>/filterEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllTicketsController</servlet-name>
        <url-pattern>/viewAllTickets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TicketDetailController</servlet-name>
        <url-pattern>/viewTicketDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCreatedEventsController</servlet-name>
        <url-pattern>/viewCreatedEvents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrganizerEventDetailController</servlet-name>
        <url-pattern>/OrganizerEventDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderSearchController</servlet-name>
        <url-pattern>/searchOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrganizerEventController</servlet-name>
        <url-pattern>/OrganizerEventController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrganizerOrdersController</servlet-name>
        <url-pattern>/organizerOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderDetailOrganizer</servlet-name>
        <url-pattern>/orderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllEventsAdminController</servlet-name>
        <url-pattern>/admin/viewAllEvents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEventDetailAdminController</servlet-name>
        <url-pattern>/admin/viewEventDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveEventController</servlet-name>
        <url-pattern>/admin/approveEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewApprovedEventsController</servlet-name>
        <url-pattern>/admin/viewApprovedEvents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewEventController</servlet-name>
        <url-pattern>/createNewEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEventController</servlet-name>
        <url-pattern>/updateEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSeatController</servlet-name>
        <url-pattern>/viewSeat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPaymentController</servlet-name>
        <url-pattern>/viewPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayQueryController</servlet-name>
        <url-pattern>/vnpayQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateTicketController</servlet-name>
        <url-pattern>/validateTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllCustomersController</servlet-name>
        <url-pattern>/ViewAllCustomersController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailAccountController</servlet-name>
        <url-pattern>/ViewDetailAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeactivateAccountController</servlet-name>
        <url-pattern>/DeactivateAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountController</servlet-name>
        <url-pattern>/admin/updateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventOverviewController</servlet-name>
        <url-pattern>/eventOverview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginController</servlet-name>
        <url-pattern>/adminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RevenueController</servlet-name>
        <url-pattern>/admin/revenue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RevenueDetailController</servlet-name>
        <url-pattern>/admin/revenueDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewApprovedDetailController</servlet-name>
        <url-pattern>/admin/viewApprovedDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewHistoryApprovedEventsController</servlet-name>
        <url-pattern>/admin/viewHistoryApprovedEvents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoucherController</servlet-name>
        <url-pattern>/VoucherController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllVouchersController</servlet-name>
        <url-pattern>/ViewAllVouchersController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateVoucherController</servlet-name>
        <url-pattern>/CreateVoucherController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VnPayAjaxController</servlet-name>
        <url-pattern>/vnPayAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VnPayReturnController</servlet-name>
        <url-pattern>/vnPayReturn</url-pattern>
    </servlet-mapping>
    <!-- Session Configuration -->
    <servlet-mapping>
        <servlet-name>ViewProcessingEventsAdminController</servlet-name>
        <url-pattern>/admin/viewProcessingEvents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventAjaxController</servlet-name>
        <url-pattern>/eventAjax</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>10080</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>event</welcome-file>
    </welcome-file-list>
</web-app>
