<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AuthController</servlet-name>
        <servlet-class>controllers.AuthController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyOtpController</servlet-name>
        <servlet-class>controllers.VerifyOtpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyEmailController</servlet-name>
        <servlet-class>controllers.VerifyEmailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginFacebookHandleController</servlet-name>
        <servlet-class>controllers.LoginFacebookHandlerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleHandlerController</servlet-name>
        <servlet-class>controllers.LoginGoogleHandlerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginFacebookHandlerController</servlet-name>
        <servlet-class>controllers.LoginFacebookHandlerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>controllers.ResetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventController</servlet-name>
        <servlet-class>controllers.EventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllEventsController</servlet-name>
        <servlet-class>controllers.AllEventsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventDetailController</servlet-name>
        <servlet-class>controllers.EventDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEventController</servlet-name>
        <servlet-class>controllers.SearchEventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterEventController</servlet-name>
        <servlet-class>controllers.FilterEventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>controllers.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSeatController</servlet-name>
        <servlet-class>controllers.ViewSeatController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VnPayReturnController</servlet-name>
        <servlet-class>vnpay.VnPayReturnController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VnPayAjaxController</servlet-name>
        <servlet-class>vnpay.VnPayAjaxController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentController</servlet-name>
        <servlet-class>controllers.PaymentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventSummaryController</servlet-name>
        <servlet-class>controllers.EventSummaryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>controllers.AdminController</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>AuthController</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyOtpController</servlet-name>
        <url-pattern>/verifyOtp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyEmailController</servlet-name>
        <url-pattern>/verifyEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleHandlerController</servlet-name>
        <url-pattern>/loginGoogleHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginFacebookHandlerController</servlet-name>
        <url-pattern>/loginFacebookHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/resetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventController</servlet-name>
        <url-pattern>/event</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllEventsController</servlet-name>
        <url-pattern>/allEvents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventDetailController</servlet-name>
        <url-pattern>/eventDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEventController</servlet-name>
        <url-pattern>/searchEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterEventController</servlet-name>
        <url-pattern>/filterEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSeatController</servlet-name>
        <url-pattern>/viewSeat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VnPayReturnController</servlet-name>
        <url-pattern>/vnPayReturn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VnPayAjaxController</servlet-name>
        <url-pattern>/vnPayAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentController</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventSummaryController</servlet-name>
        <url-pattern>/eventSummary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>event</welcome-file>
    </welcome-file-list>
</web-app>
