<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AuthController</servlet-name>
        <servlet-class>controllers.AuthController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyOtpController</servlet-name>
        <servlet-class>controllers.VerifyOtpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyEmailController</servlet-name>
        <servlet-class>controllers.VerifyEmailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginFacebookHandleController</servlet-name>
        <servlet-class>controllers.LoginFacebookHandlerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleHandlerController</servlet-name>
        <servlet-class>controllers.LoginGoogleHandlerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginFacebookHandlerController</servlet-name>
        <servlet-class>controllers.LoginFacebookHandlerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>controllers.ResetPasswordController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthController</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyOtpController</servlet-name>
        <url-pattern>/verifyOtp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyEmailController</servlet-name>
        <url-pattern>/verifyEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleHandlerController</servlet-name>
        <url-pattern>/loginGoogleHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginFacebookHandlerController</servlet-name>
        <url-pattern>/loginFacebookHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/resetPassword</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
